<div class="mt-4">
    <form method="POST" action="">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Từ khóa</label>
            <input type="text" name="q" class="form-control" id="exampleInputEmail1" placeholder="Tìm kiếm">
        </div>
        <div class="mb-3">
            <select name="gender" id="">
                <option value="">Chọn giới tính</option>
                <option value="male">Nam</option>
                <option value="female">Nữ</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>                                       
    </form>
</div>